:root {
 --pretinho: #111111;
 --cinzinha: #2d2d2d;
 --azulzinho: #EAECF4;
 --secundaria: #F5B63F;
}

html{
 scroll-behavior: smooth;
}

body {
 width: 100%;
 font-family: 'Roboto', sans-serif;
 background-color: var(--pretinho);
}

a { 
 color: inherit; 
 text-decoration: none;
}

h1 {
 font-size: clamp(2rem, 3vw, 4rem);
 margin-top: 0.3vw;
 margin-bottom: 0.3vw;
}

.titulo {
 font-size: clamp(3rem, 3vw, 4rem);
 color: var(--secundaria);
 margin-bottom: 3vw;
 font-weight: bold;
 margin-top: 10vw;
 margin-bottom: 5vw;
}

.subtitulo-tamanho--medio {
 font-size: clamp(1.3rem, 2.4vw, 2rem);
}

.subtitulo-tamanho--pequeno {
 font-size: clamp(1.2rem, 1.3vw, 2rem);
}

.texto-tamanho--grande{
 font-size: clamp(3rem, 10vw, 4rem);
}

.texto-tamanho--medio {
 font-size: clamp(1.5rem, 1.8vw, 3rem);
}

.texto-tamanho--medio-pequeno{
 font-size: clamp(1.25rem, 0.9vw, 2.3rem);
}

.texto-tamanho--pequeno{
 font-size: clamp(1rem, 0.8vw, 1.6rem);
}

.texto-cor--secundaria{
 color: var(--secundaria);
}

.texto-alinhamento--centro{
 text-align: center;
}

.bold {
 font-weight: bold;
}


.botao-tema--primario {
 color: var(--azulzinho);
 background-color: var(--secundaria);
 padding-left: 3vw;
 padding-right: 3vw;
 padding-top: 0.5vw;
 padding-bottom: 0.5vw;
 border-radius: 10px;
 font-size: clamp(1.8rem, 2vw, 3rem);
 border: 0;
}

.icone-cor--primaria {
 color: var(--cinzinha);
}

.icone-cor--secundaria {
 color: var(--secundaria);
}

.icone-tamanho--medio{
 font-size: clamp(1rem, 0.8vw, 1.6rem);

}

.icone-tamanho--pequeno{
 font-size: clamp(0.8rem, 0.8vw, 1.6rem);
}

.margin-lista{
 margin-bottom: 2vw;
}

.cor--background{
 color: var(--pretinho);
}


.background-cor--secundaria{
 background-color: var(--cinzinha);
}

.icone-margin--pequena{
 width: 1.2rem;
}

.filtro--preto-branco{
 filter: grayscale(100%);
}

.texto-cor--primaria {
 color: var(--azulzinho);
}

.lista-item-tamanho--medio {
 font-size: clamp(0.8rem, 1.8vmin, 1rem);
}

.item-escondido{
 display: none;
}

.star {
 margin-left: -10px;
 margin-right: -10px;
}

.item__icone-data{
 display: flex;
 align-items: center;
}

.feito__elemento{
 border-color: #F5B63F;
 width: 80%;
}

.item__social {
 display: flex;
 align-self: center;
 flex-direction: column;
}

.redes-sociais{
 display: flex;
 align-content: flex-end;
}

.redes-sociais li:hover .icone-cor--primaria{
 color: var(--secundaria);
 transition: 1s;
} 

.redes-sociais .fa-inverse:hover{
 color: var(--pretinho);
 transition: 1s;
}

@media (max-width: 700px) and (orientation: portrait) {
 .redes-sociais{
  margin-top: 5vw;
  margin-bottom: 5vw;
 }
}