:root{
    --pretinho: #111111;
    --cinzinha: #2d2d2d;
    --azulzinho: #EAECF4;
    --secundaria: #F5B63F;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--pretinho);
}

h1{
    font-size: clamp(2rem, 3vw, 4rem) ;
}

.titulo{
    font-size: 3.5vmax;
    color: var(--secundaria);
    background-color: var(--pretinho);
    margin-bottom: 3vw;
    font-weight: bold;
    margin-top: 10vw;
    padding-left: 5vw;
}

.navbar{
    padding: 1.5vw;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-lista{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
    margin-right: 5vw;

}

.navbar-item{
    font-size: 1.4vmin;
}

.ola{
    font-size: clamp(1.4rem, 2.4vw, 3rem);
}

.meu-nome{
    font-weight: bold;
}

.botao{
    color: var(--azulzinho);
    background-color: var(--secundaria);
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 10px;
    font-size: clamp(1.4rem, 2vw, 3rem);
    border: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.inicio-secao{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */   
}

.inicio-secao__img{
    width: 60vw;
}

.inicio-secao__informacao{
    color: var(--azulzinho);
    font-size: clamp(1.2rem, 1.4vw, 2rem); 
    /* font-size: clamp(); */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 6vw;

}

.inicio-secao__informacao-texto{
    align-self: center;
    /* padding: 10vw; */
}

.sobre-secao{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}


.sobre-secao__texto{
    color: var(--azulzinho);
    align-self: center;
    padding-left: 5vw;
    /* padding-right: 5vw; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /* font-size: 1.3vmax; */
}

.sobre-secao__img{
    width: 50vw;
    /* margin-top: 10vh; */
    align-self: center;

}

.sobre-secao__lista-subtitulo{
    font-size: clamp(1.2rem, 1.3vw, 2rem); 
    /* font-size: 1.3vmax; */
}

.sobre-secao__lista-item{
    font-size: clamp(1.5rem, 1.8vw, 3rem); 
    /* font-size: 2vmax; */
    padding-bottom: 2vw;
}

.portifolio-secao{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.portifolio-secao__imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 800px; */
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 1vw;
    grid-gap: 2vw;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
}
.portifolio-secao__imgs img{
    width: 100%;
}

.portifolio-secao__botao{
    margin-top: 2vw;
    margin-left: 5vw;
}

.portifolio-secao__options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vw;
    /* width: 96%; */
}

.portifolio-secao__options-item{
    font-size: 1.5vmin;
}

.skill-secao{
    color: var(--azulzinho);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 5vw;
    margin-left: 5vw;
    grid-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skill-secao__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.skill-secao__item img{
    width: clamp(4rem, 8vw, 7rem);
    margin-top: 0.5vw;
}

.skill-secao__item-stars{
    display: flex;
    align-items: center;
}

.star{
    margin-left: -10px;
    margin-right: -10px;
}

.contato-secao{
    display: flex;
    justify-content: space-between;
    
}

.contato-secao__formulario{
    display: grid;
    grid-template-rows: repeat(4, 1fr) 5fr;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 1rem;

}

.contato-secao__formulario input,
.contato-secao__formulario textarea{
    /* display: block; */
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--cinzinha);
    color: var(--azulzinho);
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--azulzinho);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.formulario ::placeholder{
    color: var(--azulzinho);
}

.contato-secao__botao{
    display: flex;
    align-items: flex-end;
    /* background-color: #F5B63F; */
}

.contato-secao__botao button{
    /* width: 15vw; */

    /* align-self: flex-end; */
    /* margin-left: 80%; */
    /* margin-right: 5vw; */
}

.contato-secao__contatos{

}


