.portifolio-secao {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.portifolio-secao__container {
   display: flex;
   flex-direction: column;
   width: 80%;

}

.portifolio-secao__texto-escondido{
   padding-left: clamp(4rem, 4vw, 12rem);
}

.portifolio-secao__options {
   display: flex;
   justify-content: flex-end;
   transition: 1s;
}

.options__botao{
   background-color: transparent;
   color: var(--secundaria);
   transition: 0.3s;
   border-radius: 50px;
   cursor: pointer;
}

.portifolio-secao__options .options__botao:hover {
   padding-right: clamp(5rem, 5vw, 7rem);
   background-color: var(--secundaria);
   border-radius: 10px;
}

.portifolio-secao__options li:hover .item-escondido {
   padding-right: clamp(9rem, 9vw, 12rem);
   display: flex;
   border-radius: 10px;
}

.portifolio-secao__options li:hover .fa-circle{
   display: none;
}

.carrossel{
   display: flex;
   align-items: center;
   position: relative;
   width: 100%;
   min-height: 54vh;
}

.carrossel__img {
   max-width: 100%;
   max-height: 100%;
}

.carrossel__botao{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: 0;
   padding: 0 0.5vw;
   cursor: pointer;
   z-index: 1;
   height: 100%;
}

.carrossel__botao--esquerdo{
 left: 0;
}

.carrossel__botao--direito{
 right: 0;
}

#secao-code{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 2vw;
}

#secao-art{
   display: none;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 2vw;
}

#secao-film{
   display: none;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2vw;
}

.portifolio-secao__botao {
   margin-top: 3vw;
}

@media (max-width: 700px) and (orientation: portrait) { 
   #secao-code{
      grid-template-columns: 1fr;
      row-gap: 3vw;
   }
   #secao-art{
      grid-template-columns: 1fr;
      row-gap: 3vw;
   }
   #secao-film{
      grid-template-columns: 1fr;
      row-gap: 3vw;
   }
}

@media (max-width: 900px) and (orientation: landscape) { 
   #secao-code{
      grid-template-columns: 1fr 1fr;
      row-gap: 3vw;
   }
   #secao-art{
      grid-template-columns: 1fr 1fr;
      row-gap: 3vw;
   }
   #secao-film{
      grid-template-columns: 1fr 1fr;
      row-gap: 3vw;
   }
}