.skill-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.skill-secao__container {
    width: 80%;
}

.skill-secao__skills {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skill-secao__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.skill-secao__item img{
    transition: 0.5s;
}

.skill-secao__item i{
    transition: 0.5s;
}

.skill-secao__item:hover img{
    filter: grayscale(0%);
    /* transition: 0.5s; */
}

.skill-secao__item:hover i{
    color: var(--secundaria);
    /* transition: 0.5s; */
}

.skill-secao__item img {
    width: clamp(4rem, 8vw, 7rem);
    margin-top: 0.5vw;
}