.apresentacao-secao{
    display: flex;
    align-items: center;
    width: 100%;
}

.apresentacao-secao__container{
    display: flex;
    justify-content: center;
    width: 90%;
    justify-content: space-between;
}

.apresentacao-secao__botao{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.apresentacao-secao__img {
    width: 45vw;
    margin-bottom: 3vw;
}

.apresentacao-secao__informacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 6vw;
}

@media (max-width: 700px) and (orientation: portrait) {
    .apresentacao-secao__container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .apresentacao-secao__img{
        width: 100%;
    }

}